body {
  font-family: "Rock Salt", sans-serif;
}

.card-title {
  font: 500 1.35rem "Cookie", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: mediumaquamarine;
}

h1 {
  color: #693311;
  font-family: rock salt, serif;
}

h2 {
  color: #ffc0d1;
  font-family: cookie, serif;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #00b6b0;
}

.site-footer {
  background-image: linear-gradient(mediumaquamarine, white);
  padding: 20px 0;
}